{% extends 'base.html' %}
{% load static %}
{% block title %} О нас {% endblock title %}
  
{% block content %}

    <div class="site-blocks-cover inner-page" style="background-image: url('https://scontent.foss1-1.fna.fbcdn.net/v/t39.30808-6/246059187_415377313519160_4623478923387910673_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=a26aad&_nc_ohc=TF4idC-f8S0AX9w1gne&_nc_ht=scontent.foss1-1.fna&oh=00_AT-jypcZyhafCEeVXRE5sOUdPRmoae8tXcUht9wwom1jZA&oe=62A7DEF0');">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-center">
              <h1>О Нас</h1>
              <!-- <p>Компания "Здоровый Мир" - это сеть аптек и компания стремящаяся к оздоровлению населения юга страны через лидерство по распространению лекарственных средств по доступным ценам и с широким ассортиментом.</p>ˀ -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="https://scontent.foss1-1.fna.fbcdn.net/v/t1.6435-9/104340307_128361535554074_6800477587887450911_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=9267fe&_nc_ohc=EUCx2JqQP3QAX_mtuka&_nc_ht=scontent.foss1-1.fna&oh=00_AT9fSUW9NoF9CzXyA5XURNbv8uufmM8yx5OjOHUOmOXIkA&oe=62C9DCEB" alt="Image placeholder" class="img-fluid ">
               
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">Здоровый Мир</h2>
            </div>
            <p>Компания "Здоровый Мир" - это сеть аптек и <br> компания стремящаяся  к оздоровлению населения юга страны через лидерство по распространению лекарственных средств по доступным ценам и с широким ассортиментом.</p>ˀ
          </div>
        </div>
      </div>
    </div>

    

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-md-2">
            <div class="block-16">
              <figure>
                <img src="https://scontent.foss1-1.fna.fbcdn.net/v/t1.6435-9/106722892_135262701530624_3841678933246194186_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=U9P1Hh9oCdMAX-gT7GJ&_nc_ht=scontent.foss1-1.fna&oh=00_AT8kB9ZOB18-PPM0PWcKeF7YWL7nlLvFwCpe-og60hHe_w&oe=62C895D3" alt="Image placeholder" class="img-fluid ">
        
    
              </figure>
            </div>
          </div>
          <div class="col-md-5 mr-auto">
    
    
            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">Геолокации наших аптек:</h2>
            </div>
            <p class="text-black">
              📍Гагарина
              Г.Ош ул.Шакирова 121 <br>
              📍Обл.больница
              Г.Ош ул.Верхне-Увамская <br>
              📍Миллион
              Г.Ош ул.Абдыкадырова 172 <br>
              📍Зайнабетдинова
              Г.Ош ул.Зайнабетдинова 6а <br>
              📍Мегаком
              Г.Ош пр.Масалиева 9-1 <br>
              📍Каарман
              Село Каарман б/н <br> 
              📍Учар
              Село Учар б/н <br>
              📍102-конечкая
              Г.Ош ул.Петрова Юго-Восток <br>
              📍Араванская
              Г.Ош ул.Курманжан-Датка 211/3 <br>
              📍Рудаки
              Г.Ош ул.Атамбаева 97 <br>
              📍Фрунзенская
              Г.Ош ул.Курманжан-Датка №2 <br>
              📍Обл.библиотека
              Г.Ош.ул.Курманжан-Датка 268/2 <br>
              📍Базар
              Г.Ош ул.Базарная б/н <br>
              📍Народный
              Г.Ош ул.Петрова б/н <br>
              📍Кардио Азия
              Г.Ош ул.Шакирова 17 а <br>
              📍Туран
              Г.Ош ул.Толонова 29 <br>
              📍Карла Маркса
              Г.Ош ул.Ташкентская 32 <br>
              📍107-конечная
              Г.Ош ул.Исанова 93/71 Юго-Восток <br>
              📍Гор.больница
              Г.Ош Ак-Тилек <br>
              📍Шейит-добо
              Г.Ош ул.Курманжан Детки 587 <br>
              📍Ноокатская
              Г.Ош ул, Мамырова дом 1А <br>
              📍Кашкар-кыштак
              Г.Ош Кашкар-Кыштак б/н <br>
              📍Сталин
              Карассуйский р, с/у Нариман, с.Нурдор <br>
              📍Фуркат
              Г.Ош ул.Фуркат 10 <br>
              📍Кара-суу ост.
              Г.Кара-суу ул.Ленина б/н <br>
              📍Келечек
              Г.Ош пр.Масалиева б/н <br>
              </p>
    
          </div>
        </div>
      </div>
    </div>
    
    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck text-primary"></span>
            </div>
            <div class="text">
              <h2>Аптечка</h2>
              <p>Аптечка — это необходимость в каждом доме, офисе и на отдыхе. <br>

                Не знаете полный состав аптечки? <br>
                В аптеках "Здоровый Мир" можете найти аптечки с готовым составом. <br>
                
                Мы предлагаем 3 вида: <br>
                🔹️ Для авто <br>
                🔹️ Аптечка первой помощи <br>
                🔹️ Для матери и ребёнка</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
            <div class="icon mr-4 align-self-start">
              <span class="icon-refresh2 text-primary"></span>
            </div>
            <div class="text">
              <h2>Дени Сак Элим</h2>
              <p>В наших процедурных кабинетах «Дени Сак Элим» измерение артериального давления бесплатно</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon mr-4 align-self-start">
              <span class="icon-help text-primary"></span>
            </div>
            <div class="text">
              <h2>Справочник</h2>
              <p>Есть ли «N» препарат в наличии? <br>
                А сколько он стоит? <br>
                В какой аптеке есть? <br>
              
                Ответы на все вопросы можете узнать, позвонив в фарм.справочник, который работает круглосуточно:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    




{% endblock content %}
