{% extends 'base.html' %}
{% load static %}
{% block title %} Мээрим Ирисмаматова {% endblock title %}
  
{% block content %}

<div class="site-section bg-light custom-border-bottom" data-aos="fade">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 order-md-2">
          <div class="block-16">
            <figure>
              <img src="{% static 'images/author.jpg' %}" alt="Image placeholder" class="img-fluid ">
      
  
            </figure>
          </div>
        </div>
        <div class="col-md-5 mr-auto">
  
  
          <div class="site-section-heading pt-3 mb-4">
            <h2 class="text-black">Мээрим Ирисмаматова</h2>
          </div>
          <p class="text-black">
            📍Гагарина
            Г.Ош ул.Шакирова 121 <br>
            📍Обл.больница
            Г.Ош ул.Верхне-Увамская <br>
            📍Миллион
            Г.Ош ул.Абдыкадырова 172 <br>
            📍Зайнабетдинова
            Г.Ош ул.Зайнабетдинова 6а <br>
            📍Мегаком
            Г.Ош пр.Масалиева 9-1 <br>
            📍Каарман
            Село Каарман б/н <br> 
            📍Учар
            Село Учар б/н <br>
            📍102-конечкая
            Г.Ош ул.Петрова Юго-Восток <br>
            📍Араванская
            Г.Ош ул.Курманжан-Датка 211/3 <br>
            📍Рудаки
            Г.Ош ул.Атамбаева 97 <br>
            📍Фрунзенская
            Г.Ош ул.Курманжан-Датка №2 <br>
            📍Обл.библиотека
            Г.Ош.ул.Курманжан-Датка 268/2 <br>
            📍Базар
            Г.Ош ул.Базарная б/н <br>
            📍Народный
            Г.Ош ул.Петрова б/н <br>
            📍Кардио Азия
            Г.Ош ул.Шакирова 17 а <br>
            📍Туран
            Г.Ош ул.Толонова 29 <br>
            📍Карла Маркса
            Г.Ош ул.Ташкентская 32 <br>
            📍107-конечная
            Г.Ош ул.Исанова 93/71 Юго-Восток <br>
            📍Гор.больница
            Г.Ош Ак-Тилек <br>
            📍Шейит-добо
            Г.Ош ул.Курманжан Детки 587 <br>
            📍Ноокатская
            Г.Ош ул, Мамырова дом 1А <br>
            📍Кашкар-кыштак
            Г.Ош Кашкар-Кыштак б/н <br>
            📍Сталин
            Карассуйский р, с/у Нариман, с.Нурдор <br>
            📍Фуркат
            Г.Ош ул.Фуркат 10 <br>
            📍Кара-суу ост.
            Г.Кара-суу ул.Ленина б/н <br>
            📍Келечек
            Г.Ош пр.Масалиева б/н <br>
            </p>
  
        </div>
      </div>
    </div>
  </div>
  


{% endblock content %}
